.row {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
    width: 50%;
    float: left;
}

#lezioni .row img {
    /* per centrare orizzontalmente */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#lezioni {
    text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
    float: left;
    width: 33%;
}

#steps {
    text-align: center;
}

/* BLOCCO PERCHE */
#why {
    text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
    width: 100%;
    margin-top: 80px;
}

#why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
}

/* COMMON */
.row::after {
    content: '';
    display: table;
    clear: both;
}

.container.grey {
    background-color: #f9f9f9;
}

img {
    height: 200px;
}

.clear {
    clear: both;
}


/* tablet view */
@media screen and (max-width: 800px) {
    body {
        color: rgb(45, 45, 45);
        background-color: #bcc6ee;
        font-size: 1.1rem;
    }

    .container.grey {
        background-color: #2c4459;
        color: white;
    }

    .container .row {
        width: 90%;
        margin: 0px auto;
        padding: 20px 0;
    }

    /* #why .row {
        margin-bottom: 5px;
    } */


    #lezioni .row > .left {
        margin-right: 20px;
    }

    #lezioni .row > .left,
    #lezioni .row > .right {
        float: left;
        width: calc(100% / 2 - 10px);

    }


    #steps .row>.left,
    #steps .row>.central {
        margin-right: 30px;
    }




    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: calc(100% / 3 - 20px);
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin: 20px auto;
    }


    img {
        height: 120px;
    }

    #why .row img {
        border-radius: 50%;
        padding: 10px;
    }

    #why hr {
        margin-top: 20px;
        border: 1px solid #bcc6ee;
    }

}


/* mobile view */
@media screen and (max-width: 480px) {
    body {
        color: rgb(45, 45, 45);
        background-color: cornsilk ;
        font-size: 1.4rem;
    }

    .container.grey {
        color: rgb(45, 45, 45);
        background-color: #ddc28d;
    }

    .container .row {
        width: 100%;
        margin-top: 0;
    }

    #lezioni .row > .left,
    #lezioni .row > .right {
        clear: both;
        width: 100%;
    }

    #steps .row > .left,
    #steps .row > .central,
    #steps .row > .right {
        clear: both;
        width: 100%;
    }

    #why hr {
        margin-top: 20px;
        border: 1px solid cornsilk;
    }





}
